# ~/.config/dwm/dwm-bar.sh &		# Script for status bar
slstatus 2>&1 >/dev/null &			# SucklessStatus bar
dunst &								# Notification daemon
redshift -l [RED:ACTED] &			# Save your eyeballs
nm-applet &							# Small useless utility for managing connections
feh --bg-fill $HOME/Pictures/daylight/somegaussht.png &
